node-red-flow
[{"id":"6d48f851.6b2f4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ec16b71b.f70d","type":"inject","z":"6d48f851.6b2f4","name":"Coords. Munich","topic":"","payload":"{\"lat\":\"21.450027\",\"lon\":\"-2.013929\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":245,"y":90,"wires":[["11ffd8df.84352f"]]},{"id":"11ffd8df.84352f","type":"function","z":"6d48f851.6b2f4","name":"clean_location_input","func":"if (!msg.payload) {\n  node.error(\"Empty payload!\");\n  return;\n  }\nelse if (!msg.payload.lon || !msg.payload.lat) {\n    node.error(\"Missing lat and / or lon in msg.payload\");\n    return;\n}\n\nnew_msg = {\n    \"location\": {\n        \"lat\": msg.payload.lat,\n        \"lon\": msg.payload.lon\n    }\n}\n\nreturn new_msg","outputs":1,"noerr":0,"x":505,"y":110,"wires":[["893733cd.a6f2b8"]]},{"id":"86b5e5a6.82d068","type":"debug","z":"6d48f851.6b2f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":975,"y":250,"wires":[]},{"id":"dfef77.0e30e088","type":"http request","z":"6d48f851.6b2f4","name":"","method":"GET","ret":"txt","url":"","tls":"","x":415,"y":390,"wires":[["86b5e5a6.82d068","ad092d9a.83f628"]]},{"id":"ad092d9a.83f628","type":"debug","z":"6d48f851.6b2f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"statusCode","x":985,"y":310,"wires":[]},{"id":"7613ff7b.69ebd8","type":"function","z":"6d48f851.6b2f4","name":"prep. request","func":"msg.url = \"http://api.luftdaten.info/v1/filter/area=\"+msg.payload.lat+\",\"+msg.payload.lon+\",3\"\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":330,"wires":[["dfef77.0e30e088"]]},{"id":"13bb700b.54c8d8","type":"switch","z":"6d48f851.6b2f4","name":"actiontype?","property":"payload.action","propertyType":"msg","rules":[{"t":"cont","v":"connected","vt":"str"},{"t":"cont","v":"Point","vt":"str"},{"t":"cont","v":"move","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":335,"y":250,"wires":[[],["7613ff7b.69ebd8"],["7613ff7b.69ebd8","11ffd8df.84352f"]],"outputLabels":["connect","create","move"]},{"id":"13112791.46215","type":"inject","z":"6d48f851.6b2f4","name":"CONNECTION_REQUEST","topic":"","payload":"{\"type\":\"connection_request\",\"request_type\":\"connect_to_prop\",\"prop_id\":\"666\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":145,"y":510,"wires":[["8ea8db7d.c69e8"]]},{"id":"8ea8db7d.c69e8","type":"websocket out","z":"6d48f851.6b2f4","name":"Property Simulation","server":"3a1770bc.af4bd8","client":"","x":465,"y":510,"wires":[]},{"id":"d534afe5.a0619","type":"websocket in","z":"6d48f851.6b2f4","name":"Property Listener","server":"3a1770bc.af4bd8","client":"","x":85,"y":570,"wires":[["3fef60b0.004eb"]]},{"id":"3fef60b0.004eb","type":"json","z":"6d48f851.6b2f4","name":"","property":"payload","action":"","pretty":false,"x":255,"y":630,"wires":[["f9ce838e.47fb2","b009eed9.fd3eb8","f120c42d.b85db","b9e834cc.74ed3","5db8dfcb.9af44","7ad59a7e.d05ad4","728f06da.cf8038","fddeb24b.a6ed68","3f75ccf1.335714","b8ae76b4.715fb","f6f4858c.4a8ac8"]]},{"id":"f9ce838e.47fb2","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"ambient_temperature\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":435,"y":650,"wires":[["6fd2efd6.bda57","5063c3fa.df6c0c"]]},{"id":"6fd2efd6.bda57","type":"ui_gauge","z":"6d48f851.6b2f4","name":"gauge temperature display","group":"f13bff76.c27308","order":0,"width":"0","height":"0","gtype":"gage","title":"current temperature","label":"°C","format":"{{value}}","min":"-15","max":"40","colors":["#1500b5","#9de600","#ff0000"],"seg1":"","seg2":"","x":685,"y":650,"wires":[]},{"id":"b009eed9.fd3eb8","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room2nd_temperature\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":434,"y":789,"wires":[["35175b7d.9e37bc"]]},{"id":"35175b7d.9e37bc","type":"ui_gauge","z":"6d48f851.6b2f4","name":"temperature display","group":"cc412dee.84a53","order":0,"width":0,"height":0,"gtype":"gage","title":"room 2","label":"°C","format":"{{value}}","min":"10","max":"30","colors":["#00b5ad","#9de600","#ff0000"],"seg1":"","seg2":"","x":661,"y":789,"wires":[]},{"id":"f120c42d.b85db","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room4th_temperature\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":435,"y":830,"wires":[["fca3b6ad.a25cb"]]},{"id":"fca3b6ad.a25cb","type":"ui_gauge","z":"6d48f851.6b2f4","name":"temperature display","group":"cc412dee.84a53","order":0,"width":0,"height":0,"gtype":"gage","title":"room 4","label":"°C","format":"{{value}}","min":"10","max":"30","colors":["#00b5ad","#9de600","#ff0000"],"seg1":"","seg2":"","x":663,"y":830,"wires":[]},{"id":"893733cd.a6f2b8","type":"openweathermap","z":"6d48f851.6b2f4","name":"current_weather","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":675,"y":210,"wires":[["86b5e5a6.82d068"]],"icon":"node-red/arrow-in.png"},{"id":"6e43504.972963","type":"worldmap","z":"6d48f851.6b2f4","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","path":"/worldmap config","x":115,"y":170,"wires":[]},{"id":"e0586c16.73b968","type":"worldmap in","z":"6d48f851.6b2f4","name":"","path":"/worldmap","x":265,"y":170,"wires":[["13bb700b.54c8d8"]]},{"id":"b9e834cc.74ed3","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"wind_direction\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":436,"y":749,"wires":[["a0c70a98.973088"]]},{"id":"a0c70a98.973088","type":"ui_gauge","z":"6d48f851.6b2f4","name":"wind direction","group":"dc0b00e7.ee8c4","order":0,"width":"6","height":"4","gtype":"compass","title":"direction","label":"degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":647.5,"y":750,"wires":[]},{"id":"bfd23e50.5e9ff","type":"ui_audio","z":"6d48f851.6b2f4","name":"TTS","group":"f13bff76.c27308","voice":"en","always":true,"x":379.5,"y":1055,"wires":[]},{"id":"5db8dfcb.9af44","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"var globalContext = this.context.global;\nvar window_state = globalContext.get(\"window_state\")\nif (globalContext.get(\"auto_control\") == \"On\" && msg.payload[\"value_name\"] == \"sun_state\") {\n var return_obj = {}\n if (msg.payload[\"value\"] == \"Sunny\" && window_state == \"Closed\") {\n  return_obj[\"payload\"] = \"Oh my god it's sunny, go out! I'm opening the window.\"\n  globalContext.set(\"window_state_cmd\", \"Tilt\")\n  return return_obj\n } else if (msg.payload[\"value\"] == \"Cloudy\" && window_state == \"Tilt\") {\n  return_obj[\"payload\"] = \"The sky is full of clouds, you shouldn't leave it completely open, you fool!\"\n  globalContext.set(\"window_state_cmd\", \"Turned\")\n  return return_obj\n } else if (window_state == \"Tilt\" || window_state == \"Turned\") {\n  return_obj[\"payload\"] = \"Windows shouldn't be left open during the night. Evil creatures are around.\"\n  globalContext.set(\"window_state_cmd\", \"Closed\")\n  return return_obj\n }\n}","outputs":1,"noerr":0,"x":159,"y":1011,"wires":[["fc955dbf.2c2d08"]]},{"id":"8bae7c5b.0ec59","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"f0708ab9.1a9fb","order":2,"width":0,"height":0,"passthru":false,"label":"open window","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"type\":\"set_value\",\"value_name\":\"room2nd_window_state\",\"value\":\"Tilt\"}","payloadType":"json","topic":"","x":386,"y":1237,"wires":[["c66f1a06.4bb4b"]]},{"id":"c66f1a06.4bb4b","type":"websocket out","z":"6d48f851.6b2f4","name":"Property Simulation","server":"3a1770bc.af4bd8","client":"","x":746,"y":1247,"wires":[]},{"id":"2539fab5.23091e","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"f0708ab9.1a9fb","order":2,"width":0,"height":0,"passthru":false,"label":"close window","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"type\":\"set_value\",\"value_name\":\"room2nd_window_state\",\"value\":\"Closed\"}","payloadType":"json","topic":"","x":397,"y":1286,"wires":[["c66f1a06.4bb4b"]]},{"id":"6217a9aa.13fef8","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"1979a9ef.ce4cee","order":2,"width":0,"height":0,"passthru":false,"label":"open window","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"type\":\"set_value\",\"value_name\":\"room4th_window_state\",\"value\":\"Tilt\"}","payloadType":"json","topic":"","x":393,"y":1360,"wires":[["c66f1a06.4bb4b"]]},{"id":"73cb0daf.5bf144","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"1979a9ef.ce4cee","order":2,"width":0,"height":0,"passthru":false,"label":"close window","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"type\":\"set_value\",\"value_name\":\"room4th_window_state\",\"value\":\"Closed\"}","payloadType":"json","topic":"","x":404,"y":1406,"wires":[["c66f1a06.4bb4b"]]},{"id":"5063c3fa.df6c0c","type":"ui_chart","z":"6d48f851.6b2f4","name":"","group":"f13bff76.c27308","order":2,"width":"0","height":"0","label":"trend","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"30","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":616,"y":684,"wires":[[],[]]},{"id":"6d3c9b0c.14065c","type":"ui_toast","z":"6d48f851.6b2f4","position":"top right","displayTime":"15","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Sunny Notification","x":418.5,"y":1095,"wires":[]},{"id":"fc955dbf.2c2d08","type":"delay","z":"6d48f851.6b2f4","name":"throttle","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":184.5,"y":1077,"wires":[["6d3c9b0c.14065c","bfd23e50.5e9ff","a2147cab.d61ef8"]]},{"id":"7ad59a7e.d05ad4","type":"function","z":"6d48f851.6b2f4","name":"store_window_state","func":"if (msg.payload[\"value_name\"] == \"room2nd_window_state\") {\n var globalContext = this.context.global;\n globalContext.set(\"window_state\", msg.payload[\"value\"])\n}","outputs":1,"noerr":0,"x":486.5,"y":608,"wires":[[]]},{"id":"a2147cab.d61ef8","type":"function","z":"6d48f851.6b2f4","name":"send global window state","func":"var globalContext = this.context.global;\nvar window_state = globalContext.get(\"window_state_cmd\")\n\nvar return_obj = {}\nreturn_obj[\"payload\"] = {}\n\nreturn_obj[\"payload\"][\"value_name\"] = \"room2nd_window_state\"\nreturn_obj[\"payload\"][\"value\"] = window_state\nreturn_obj[\"payload\"][\"type\"] = \"set_value\"\n\nreturn return_obj;\n","outputs":1,"noerr":0,"x":451.5,"y":1019,"wires":[["c66f1a06.4bb4b"]]},{"id":"867a2836.920758","type":"ui_text","z":"6d48f851.6b2f4","group":"f13bff76.c27308","order":3,"width":"0","height":"0","name":"","label":"Condition","format":"{{msg.payload}}","layout":"col-center","x":732.5,"y":564,"wires":[]},{"id":"728f06da.cf8038","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"sun_state\") {\n var return_obj = {}\n return_obj[\"payload\"] = msg.payload[\"value\"]\n return return_obj\n}","outputs":1,"noerr":0,"x":512,"y":565,"wires":[["867a2836.920758"]]},{"id":"fddeb24b.a6ed68","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"var globalContext = this.context.global;\nvar window_state = globalContext.get(\"window_state\")\nif (globalContext.get(\"auto_control\") == \"On\" && msg.payload[\"value_name\"] == \"room2nd_heater_state\") {\n var return_obj = {}\n if (msg.payload[\"value\"] == \"On\" && window_state == \"Closed\") {\n  return_obj[\"payload\"] = \"Yayy. You only turn on the heating when your window is closed. Good human, I like you.\"\n  return return_obj\n } else if (msg.payload[\"value\"] == \"On\" && window_state != \"Closed\") {\n  return_obj[\"payload\"] = \"What the fuck, close your window when heating. Polar bears are dying because of you. Shame, shame, shame on you.\"\n  globalContext.set(\"window_state_cmd\", \"Closed\")\n  return return_obj\n }\n}","outputs":1,"noerr":0,"x":139,"y":1146,"wires":[["944fa53.c244bd8","766ca449.b49acc"]]},{"id":"944fa53.c244bd8","type":"delay","z":"6d48f851.6b2f4","name":"throttle","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":156.5,"y":1227,"wires":[["a2147cab.d61ef8","6d3c9b0c.14065c","bfd23e50.5e9ff"]]},{"id":"581a3127.9e1ec","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"cc412dee.84a53","order":2,"width":0,"height":0,"passthru":false,"label":"heater on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"type\":\"set_value\",\"value_name\":\"room2nd_heater_state\",\"value\":\"On\"}","payloadType":"json","topic":"","x":375,"y":1149,"wires":[["c66f1a06.4bb4b"]]},{"id":"77aaf9bb.b5598","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"cc412dee.84a53","order":2,"width":0,"height":0,"passthru":false,"label":"heater off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"type\":\"set_value\",\"value_name\":\"room2nd_heater_state\",\"value\":\"Off\"}","payloadType":"json","topic":"","x":375,"y":1190,"wires":[["c66f1a06.4bb4b"]]},{"id":"c82a7019.826c5","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"fd83694b.74fc","order":2,"width":0,"height":0,"passthru":false,"label":"AI on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":377,"y":1464,"wires":[["9a1ea4d7.6f52f"]]},{"id":"2b5dcd93.04cde2","type":"ui_button","z":"6d48f851.6b2f4","name":"","group":"fd83694b.74fc","order":2,"width":0,"height":0,"passthru":false,"label":"AI off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":378,"y":1503,"wires":[["35fb4c43.1f36b4"]]},{"id":"35fb4c43.1f36b4","type":"change","z":"6d48f851.6b2f4","name":"Disable auto_control","rules":[{"t":"set","p":"auto_control","pt":"global","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":593.5,"y":1505,"wires":[[]]},{"id":"9a1ea4d7.6f52f","type":"change","z":"6d48f851.6b2f4","name":"Enable auto_control","rules":[{"t":"set","p":"auto_control","pt":"global","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":594,"y":1464,"wires":[[]]},{"id":"766ca449.b49acc","type":"debug","z":"6d48f851.6b2f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":196.5,"y":1371,"wires":[]},{"id":"1771c126.815d27","type":"ui_text","z":"6d48f851.6b2f4","group":"f0708ab9.1a9fb","order":3,"width":"0","height":"0","name":"","label":"window state","format":"{{msg.payload}}","layout":"col-center","x":663,"y":897,"wires":[]},{"id":"3f75ccf1.335714","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room2nd_window_state\") {\n msg.payload = msg.payload[\"value\"]\n return msg\n}","outputs":1,"noerr":0,"x":432.5,"y":898,"wires":[["1771c126.815d27"]]},{"id":"a212cf2b.866368","type":"ui_text","z":"6d48f851.6b2f4","group":"1979a9ef.ce4cee","order":3,"width":"0","height":"0","name":"","label":"window state","format":"{{msg.payload}}","layout":"col-center","x":662,"y":934,"wires":[]},{"id":"b8ae76b4.715fb","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room4th_window_state\") {\n msg.payload = msg.payload[\"value\"]\n return msg\n}","outputs":1,"noerr":0,"x":431.5,"y":935,"wires":[["a212cf2b.866368"]]},{"id":"f6f4858c.4a8ac8","type":"function","z":"6d48f851.6b2f4","name":"filter","func":"if (msg.payload[\"value_name\"] == \"wind_speed\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":434,"y":715.25,"wires":[["f5cf20f1.157658"]]},{"id":"f5cf20f1.157658","type":"ui_gauge","z":"6d48f851.6b2f4","name":"wind speed","group":"dc0b00e7.ee8c4","order":0,"width":"0","height":"0","gtype":"gage","title":"speed","label":"km/h","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":635.5,"y":716.25,"wires":[]},{"id":"24957cd.9a3ab84","type":"ui_slider","z":"6d48f851.6b2f4","name":"","label":"number","tooltip":"","group":"b1f17b8f.69ec18","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":82.5,"y":1847,"wires":[[]]},{"id":"f2c082ff.f25e5","type":"mqtt in","z":"6d48f851.6b2f4","name":"impact","topic":"be5/impact2","qos":"0","broker":"7d0d7771.a3fe2","x":55,"y":1514,"wires":[["de1be989.ec9878"]]},{"id":"6f04ff3f.79648","type":"ui_audio","z":"6d48f851.6b2f4","name":"","group":"f0708ab9.1a9fb","voice":"en-US","always":true,"x":457.5,"y":1710,"wires":[]},{"id":"4950069b.a5ed9","type":"debug","z":"6d48f851.6b2f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":457.5,"y":1646,"wires":[]},{"id":"cab2edc0.23aa48","type":"function","z":"6d48f851.6b2f4","name":"impact categorizer","func":"var globalContext = this.context.global;\nvar window_state = globalContext.get(\"window_state\")\n\nswitch(msg.payload) {\n  case \"1\":\n    globalContext.set(\"normal\", msg[\"payload\"]);\n    break;\n  case \"2\":\n    globalContext.set(\"strong\", msg[\"payload\"]);\n    break;\n  case \"3\":\n    globalContext.set(\"very strong\", msg[\"payload\"]);\n    break;\n  default:\n    break;\n}\n\nreturn [{\n    \"series\": [ \"normal\", \"strong\", \"very strong\"],\n    \"data\": [\n        globalContext.get(\"normal\"),\n        globalContext.get(\"strong\"),\n        globalContext.get(\"very strong\"),\n    ],\n    \"labels\": [ \"impact force\" ]\n}]\n\n","outputs":1,"noerr":0,"x":243.5,"y":1646,"wires":[["4950069b.a5ed9"]]},{"id":"ab9c2a94.0f1748","type":"function","z":"6d48f851.6b2f4","name":"impact stringifier","func":"switch(msg.payload) {\n  case \"0\":\n    msg.payload = \"\"\n    break;\n  case \"1\":\n    msg.payload = \"window was closed normally, you get a bonus point for being so nice to me\"\n    break;\n  case \"2\":\n    msg.payload = \"ouch that was strong. please be less brutal next time\"\n    break;\n  case \"3\":\n    msg.payload = \"very strong\"\n    break;\n  default:\n    break;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":243,"y":1704,"wires":[["6f04ff3f.79648","4950069b.a5ed9"]]},{"id":"f31a5c09.233f5","type":"ui_chart","z":"6d48f851.6b2f4","name":"","group":"f0708ab9.1a9fb","order":3,"width":0,"height":0,"label":"closing forces","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"0","ymax":"3","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":440,"y":1583,"wires":[[],[]]},{"id":"de1be989.ec9878","type":"delay","z":"6d48f851.6b2f4","name":"throttle","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":183,"y":1584,"wires":[["ab9c2a94.0f1748","f31a5c09.233f5"]]},{"id":"3a1770bc.af4bd8","type":"websocket-listener","z":"","path":"ws://schuecobe5hackdays.azurewebsites.net/WebSocketServer.ashx?","wholemsg":"false"},{"id":"f13bff76.c27308","type":"ui_group","z":"","name":"Temperature","tab":"f0960ee9.c06878","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc412dee.84a53","type":"ui_group","z":"","name":"Temperature Overview","tab":"999d2852.91adf","disp":true,"width":"6","collapse":false},{"id":"dc0b00e7.ee8c4","type":"ui_group","z":"","name":"Wind","tab":"f0960ee9.c06878","order":2,"disp":true,"width":"6","collapse":false},{"id":"f0708ab9.1a9fb","type":"ui_group","z":"","name":"Room 2","tab":"ccf648c4.84dbc","order":1,"disp":true,"width":"6","collapse":false},{"id":"1979a9ef.ce4cee","type":"ui_group","z":"","name":"Room 4","tab":"ccf648c4.84dbc","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd83694b.74fc","type":"ui_group","z":"","name":"Automatic AI-based control","tab":"3003e87b.ee8128","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1f17b8f.69ec18","type":"ui_group","z":"","name":"People in office","tab":"a9b13252.2a7258","order":1,"disp":true,"width":"6","collapse":false},{"id":"7d0d7771.a3fe2","type":"mqtt-broker","z":"","name":"impact","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0960ee9.c06878","type":"ui_tab","z":"","name":"Outdoors","icon":"cloud","order":1,"disabled":false,"hidden":false},{"id":"999d2852.91adf","type":"ui_tab","z":"","name":"Heating","icon":"graphic_eq","order":3,"disabled":false,"hidden":false},{"id":"ccf648c4.84dbc","type":"ui_tab","z":"","name":"Window control","icon":"store","order":2,"disabled":false,"hidden":false},{"id":"3003e87b.ee8128","type":"ui_tab","z":"","name":"Settings","icon":"settings","order":5,"disabled":false,"hidden":false},{"id":"a9b13252.2a7258","type":"ui_tab","z":"","name":"People","icon":"face","order":4,"disabled":false,"hidden":false}]