node-red-flow
[{"id":"4077f19e.47e23","type":"inject","z":"b228bd98.2911e8","name":"Coords. Munich","topic":"","payload":"{\"lat\":\"21.450027\",\"lon\":\"-2.013929\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":200,"wires":[["d1a966.3b961e98"]]},{"id":"efd4320d.b765c8","type":"openweathermap","z":"b228bd98.2911e8","name":"current_weather","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":770,"y":320,"wires":[["e4317b65.8a3de"]],"icon":"node-red/arrow-in.png"},{"id":"d1a966.3b961e98","type":"function","z":"b228bd98.2911e8","name":"clean_location_input","func":"if (!msg.payload) {\n  node.error(\"Empty payload!\");\n  return;\n  }\nelse if (!msg.payload.lon || !msg.payload.lat) {\n    node.error(\"Missing lat and / or lon in msg.payload\");\n    return;\n}\n\nnew_msg = {\n    \"location\": {\n        \"lat\": msg.payload.lat,\n        \"lon\": msg.payload.lon\n    }\n}\n\nreturn new_msg","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["efd4320d.b765c8"]]},{"id":"e4317b65.8a3de","type":"debug","z":"b228bd98.2911e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":360,"wires":[]},{"id":"1e111a70.d8ad4e","type":"http request","z":"b228bd98.2911e8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":510,"y":500,"wires":[["e4317b65.8a3de","84206e66.38793"]]},{"id":"84206e66.38793","type":"debug","z":"b228bd98.2911e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"statusCode","x":1080,"y":420,"wires":[]},{"id":"1de8a459.71b33c","type":"function","z":"b228bd98.2911e8","name":"prep. request","func":"msg.url = \"http://api.luftdaten.info/v1/filter/area=\"+msg.payload.lat+\",\"+msg.payload.lon+\",3\"\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["1e111a70.d8ad4e"]]},{"id":"692e25cc.0018a4","type":"switch","z":"b228bd98.2911e8","name":"actiontype?","property":"payload.action","propertyType":"msg","rules":[{"t":"cont","v":"connected","vt":"str"},{"t":"cont","v":"Point","vt":"str"},{"t":"cont","v":"move","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":430,"y":360,"wires":[[],["1de8a459.71b33c"],["1de8a459.71b33c","d1a966.3b961e98"]],"outputLabels":["connect","create","move"]},{"id":"3c429726.43811","type":"worldmap in","z":"b228bd98.2911e8","name":"","path":"/worldmap","x":360,"y":280,"wires":[["692e25cc.0018a4"]]},{"id":"84deb55c.3070c8","type":"worldmap","z":"b228bd98.2911e8","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","path":"/worldmap config","x":210,"y":280,"wires":[]},{"id":"4dc3b968.4b77c8","type":"inject","z":"b228bd98.2911e8","name":"CONNECTION_REQUEST","topic":"","payload":"{\"type\":\"connection_request\",\"request_type\":\"connect_to_prop\",\"prop_id\":\"666\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":240,"y":620,"wires":[["b26ac623.2eea9"]]},{"id":"b26ac623.2eea9","type":"websocket out","z":"b228bd98.2911e8","name":"Property Simulation","server":"33eb7f22.064d8","client":"","x":560,"y":620,"wires":[]},{"id":"9ed9cdd.6a064b","type":"websocket in","z":"b228bd98.2911e8","name":"Property Listener","server":"33eb7f22.064d8","client":"","x":180,"y":680,"wires":[["dae1ee37.46559"]]},{"id":"73bf1456.70c744","type":"debug","z":"b228bd98.2911e8","name":"debug node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":680,"wires":[]},{"id":"dae1ee37.46559","type":"json","z":"b228bd98.2911e8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":740,"wires":[["73bf1456.70c744","ce76cf55.9b9dd8","67594f63.d9c848","2117381d.ddf8d8"]]},{"id":"ce76cf55.9b9dd8","type":"function","z":"b228bd98.2911e8","name":"filter","func":"if (msg.payload[\"value_name\"] == \"ambient_temperature\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["5f8c7f6b.1252a"]]},{"id":"5f8c7f6b.1252a","type":"ui_gauge","z":"b228bd98.2911e8","name":"temperature display","group":"c1251d11.42cb98","order":0,"width":0,"height":0,"gtype":"gage","title":"ambient_temperature","label":"units","format":"{{value}}","min":"-10","max":"40","colors":["#1500b5","#9de600","#ff0000"],"seg1":"","seg2":"","x":760,"y":760,"wires":[]},{"id":"67594f63.d9c848","type":"function","z":"b228bd98.2911e8","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room2nd_temperature\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["bf824059.1d08e"]]},{"id":"bf824059.1d08e","type":"ui_gauge","z":"b228bd98.2911e8","name":"temperature display","group":"c1251d11.42cb98","order":0,"width":0,"height":0,"gtype":"gage","title":"room2nd_temperature","label":"units","format":"{{value}}","min":"-25","max":"40","colors":["#00b5ad","#9de600","#ff0000"],"seg1":"","seg2":"","x":760,"y":820,"wires":[]},{"id":"2117381d.ddf8d8","type":"function","z":"b228bd98.2911e8","name":"filter","func":"if (msg.payload[\"value_name\"] == \"room4th_temperature\") {\n var return_obj = {}\n return_obj[\"payload\"] = Number(msg.payload[\"value\"])\n return return_obj\n} else {\n return {}\n}","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["af5fabcc.4a0ba8"]]},{"id":"af5fabcc.4a0ba8","type":"ui_gauge","z":"b228bd98.2911e8","name":"temperature display","group":"c1251d11.42cb98","order":0,"width":0,"height":0,"gtype":"gage","title":"room4th_temperature","label":"units","format":"{{value}}","min":"-25","max":"40","colors":["#00b5ad","#9de600","#ff0000"],"seg1":"","seg2":"","x":760,"y":880,"wires":[]},{"id":"33eb7f22.064d8","type":"websocket-listener","z":"","path":"ws://schuecobe5hackdays.azurewebsites.net/WebSocketServer.ashx?","wholemsg":"false"},{"id":"c1251d11.42cb98","type":"ui_group","z":"","name":"Default","tab":"fefc7002.01d3d8","disp":true,"width":"6","collapse":false},{"id":"fefc7002.01d3d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
